- page_title _('Instance Configuration')
.documentation.md
  %h1= _('Instance Configuration')

  %p
    = _("In this page you will find information about the settings that are used in your current instance.")

  = render 'help/instance_configuration/ssh_info'
  = render 'help/instance_configuration/gitlab_pages'
  = render 'help/instance_configuration/gitlab_ci'
  = render 'help/instance_configuration/rate_limits'
  %p
    %strong= _("Table of contents")

    %ul
      = content_for :table_content

  = content_for :settings_content
